---
---

<section class="pt-16 bg-homepage-hero-after" id="inicio">
   <div class="w-full max-w-6xl mx-auto">
      <div
         class="py-6 px-3 flex flex-col md:items-center lg:flex-row lg:justify-between gap-5 lg:py-24 lg:px-14"
      >
         <div
            class="block basis-0 flex-shrink flex-grow p-2 lg:flex-none lg:w-5/12"
         >
            <p class="text-gray-50 my-3 text-center lg:text-left">Únete a Nuestro Equipo:</p>
            <h1
               class="uppercase text-center lg:text-left text-3xl lg:text-4xl xl:text-5xl font-bold text-cyan-ak"
            >
               Asesor Inmobiliario
            </h1>
            <div class="flex items-center justify-center gap-x-5 lg:justify-between my-5">
               <div class="flex items-center gap-x-2 lg:gap-x-4">
                  <svg
                     width="16"
                     height="21"
                     viewBox="0 0 16 21"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M8 20.5C8 20.5 15.5 13.3925 15.5 8C15.5 6.01088 14.7098 4.10322 13.3033 2.6967C11.8968 1.29018 9.98912 0.5 8 0.5C6.01088 0.5 4.10322 1.29018 2.6967 2.6967C1.29018 4.10322 0.5 6.01088 0.5 8C0.5 13.3925 8 20.5 8 20.5ZM8 11.75C7.00544 11.75 6.05161 11.3549 5.34835 10.6517C4.64509 9.94839 4.25 8.99456 4.25 8C4.25 7.00544 4.64509 6.05161 5.34835 5.34835C6.05161 4.64509 7.00544 4.25 8 4.25C8.99456 4.25 9.94839 4.64509 10.6517 5.34835C11.3549 6.05161 11.75 7.00544 11.75 8C11.75 8.99456 11.3549 9.94839 10.6517 10.6517C9.94839 11.3549 8.99456 11.75 8 11.75Z"
                        fill="#2EE5D8"></path>
                  </svg>
   
                  <p class="text-gray-50">Santa Victoria, Chiclayo</p>
               </div>
               <div class="flex items-center gap-x-2 lg:gap-x-4">
                  <svg
                     width="21"
                     height="17"
                     viewBox="0 0 21 17"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M14.5 3H16.5V17H4.5V3H6.5V2C6.5 1.46957 6.71071 0.960859 7.08579 0.585786C7.46086 0.210714 7.96957 0 8.5 0H12.5C13.0304 0 13.5391 0.210714 13.9142 0.585786C14.2893 0.960859 14.5 1.46957 14.5 2V3ZM17.5 3H18.5C19.0304 3 19.5391 3.21071 19.9142 3.58579C20.2893 3.96086 20.5 4.46957 20.5 5V15C20.5 15.5304 20.2893 16.0391 19.9142 16.4142C19.5391 16.7893 19.0304 17 18.5 17H17.5V3ZM3.5 3V17H2.5C1.96957 17 1.46086 16.7893 1.08579 16.4142C0.710714 16.0391 0.5 15.5304 0.5 15V5C0.5 3.9 1.4 3 2.5 3H3.5ZM8.5 2V3H12.5V2H8.5Z"
                        fill="#2EE5D8"></path>
                  </svg>
   
                  <p class="text-gray-50">Presencial</p>
               </div>
            </div>
         </div>

         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-4/6 lg:w-1/2 "
         >
            <div
               class="bg-[#020f1b] rounded-lg shadow-2xl sm:w-full sm:mx-auto sm:overflow-auto "
            >
               <form class="px-4 py-8 sm:px-10 ">
                  <div class="">
                     <div
                        class=" flex justify-center text-sm leading-5"
                     >
                        <h2 class="px-2 text-cyan-ak text-2xl lg:text-3xl font-bold mb-5">
                           Trabaja con Nosotros
                        </h2>
                     </div>
                  </div>
                  <div class="mt-6">
                     <div class="w-full space-y-8">
                        <div class="md:flex items-center justify-between gap-x-3 space-y-8 md:space-y-0">
                           <div class="w-full  group">
                              <input
                                 type="text"
                                 name="nombres"
                                 placeholder="Nombres"
                                 class="rounded-lg flex-1 appearance-none border-2 w-full py-2.5 px-3 bg-[#010b15] border-cyan-900 transition text-gray-200 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-4 focus:ring-cyan-700 focus:border-transparent"
                                 required
                              />
                           </div>
                           <div class="w-full  group">
                              <input
                                 type="text"
                                 name="apellidos"
                                 placeholder="Apellidos"
                                 class="rounded-lg flex-1 appearance-none border-2 w-full py-2.5 px-3 bg-[#010b15] border-cyan-900 transition text-gray-200 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-4 focus:ring-cyan-700 focus:border-transparent"
                                 required
                              />
                           </div>

                        </div>

                        <div class="md:flex items-center justify-between gap-x-3 space-y-8 md:space-y-0">
                           <div class="w-full  group">
                              <input
                              type="email"
                              class="rounded-lg flex-1 appearance-none border-2 w-full py-2.5 px-3 bg-[#010b15] border-cyan-900 transition text-gray-200 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-4 focus:ring-cyan-700 focus:border-transparent"
                              name="email"
                              placeholder="Correo"
                              required
                              />
                           </div>
                           <div class="w-full  group">
                              <input
                                 type="tel"
                                 class="rounded-lg flex-1 appearance-none border-2 w-full py-2.5 px-3 bg-[#010b15] border-cyan-900 transition text-gray-200 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-4 focus:ring-cyan-700 focus:border-transparent"
                                 name="telefono"
                                 placeholder="Celular"
                                 required
                              />
                           </div>

                        </div>

                        <div class="w-full ">
                           <input
                              type="text"
                              name="linkedln"
                              placeholder="Opcional: enlace de Linkedln"
                              class="rounded-lg flex-1 appearance-none border-2 w-full py-2.5 px-3 bg-[#010b15] border-cyan-900 transition text-gray-200 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-4 focus:ring-cyan-700 focus:border-transparent"
                              required
                           />
                        </div>

                        <div class="w-full ">
                           <input class="w-full cursor-pointer border-2 border-cyan-900 rounded-lg text-gray-200 file:mr-4 file:py-2.5 file:px-4 file:rounded-lg file:border-0 file:font-semibold file:bg-[#010b15] file:text-gray-50" aria-describedby="cv_help" id="cv" type="file" accept=".pdf" required>
                        </div>

                        <div class="lg:text-sm">
                           <input
                              id="terminos"
                              type="checkbox"
                              class="w-4 h-4 transition accent-cyan-ak text-cyan-ak rounded ring-offset-gray-800-0 border-b-2 bg-white focus:ring-cyan-ak focus:ring-2"
                              required
                           />
                           <label for="terminos" class="ml-2 font-medium mr-1 text-sm text-gray-200">
                              He leído y acepto los
                              <a
                                 href="https://ayllukaypi.pe/politicas_privacidad"
                                 target="_blank"
                                 rel="noopener noreferrer"
                                 class="hover:underline cursor-pointer text-cyan-ak font-bold js-modal-trigger"
                              >
                                 Términos y Condiciones
                              </a>
                              y las
                              <a
                                 href="https://ayllukaypi.pe/terminos_condiciones"
                                 target="_blank"
                                 rel="noopener noreferrer"
                                 class="hover:underline cursor-pointer text-cyan-ak font-bold js-modal-trigger"
                              >
                                 Políticas de Privacidad
                              </a>
                           </label>
                        </div>
                        
                        <div>
                           <span class="block w-full rounded-md shadow-sm">
                              <button
                                 type="submit"
                                 class="py-3 px-4 bg-cyan-ak hover:bg-cyan-400 focus:ring-cyan-600 focus:ring-offset-indigo-200 text-azul w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
                              >
                                 Postular
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
               </form>
               
            </div>
         </div>
      </div>

   </div>
</section>
