---
---

<section class="py-12 px-6 lg:py-24 bg-[#020f1b] lg:px-14">
   <div class="w-full max-w-6xl mx-auto relative">
      <div class="flex flex-col md:items-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-white text-3xl md:text-4xl lg:text-5xl font-bold mb-8"
            >
               ¿Qué <span class="text-cyan-ak">pedimos?</span>
            </h2>
         </div>
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none lg:w-1/2"
         >
            <ul class="text-gray-50 text-xl list-inside space-y-5">
               <li class="flex items-center">
                  <svg
                     class="w-6 h-6 mr-1.5 text-cyan-ak flex-shrink-0"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                     ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path></svg
                  >
                  <div>
                     <strong>Experiencia mínima</strong>&nbsp;(6 meses en ventas).

                  </div>
               </li>
               <li class="flex items-center">
                  <svg
                     class="w-6 h-6 mr-1.5 text-cyan-ak flex-shrink-0"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                     ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path></svg
                  >
                  <div>
                     <strong>Ser puntual y resolutivo..</strong>

                  </div>
               </li>
               <li class="flex items-center">
                  <svg
                     class="w-6 h-6 mr-1.5 text-cyan-ak flex-shrink-0"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                     ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path></svg
                  >
                  <div>
                     <strong>Conocimientos&nbsp;</strong> en técnicas de cierre de ventas.

                  </div>
               </li>
               <li class="flex items-center">
                  <svg
                     class="w-6 h-6 mr-1.5 text-cyan-ak flex-shrink-0"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                     ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path></svg
                  >
                  <div>
                     <strong>Facilidad de palabra y actitud</strong>&nbsp;para trabajo de campo.

                  </div>
               </li>
               <li class="flex items-center">
                  <svg
                     class="w-6 h-6 mr-1.5 text-cyan-ak flex-shrink-0"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                     ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path></svg
                  >
                  <div>
                     Altamente <strong>&nbsp;competitivo </strong>.

                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
